/* Add this at the beginning of your CSS file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The rest of your CSS goes here */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    text-align: center;
    font-family: 'Pacifico', cursive;
    background: rgb(148,77,255);
    background: linear-gradient(90deg, rgba(148,77,255,1) 0%, rgba(77,126,255,1) 14%, rgba(77,223,255,1) 29%, rgba(77,255,158,1) 43%, rgba(192,255,77,1) 57%, rgba(255,213,77,1) 71%, rgba(255,106,77,1) 86%, rgba(255,77,145,1) 100%);
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#title {
    font-size: 3em;
    margin-bottom: 1em;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1em;
}

#resetButton, #clearButton {
    padding: 0.5em 1em;
    font-size: 1.2em;
}

#etchGif {
    max-width: 640px;
    height: auto;
    margin: 0 auto; 
}

#container {
    display: flex;
    justify-content: center;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
}

.cell {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}
